{{ partial "header.html" . }}


<main class="pax measure center">
    <h1 class="pt4">
        {{ .Title }}
    </h1>
    <div class="measure pv3 lh-copy ">
        {{ .Content }}
    </div>
    <!-- {{ range .Site.Menus.main }} -->
    <!-- <article class="pa2"> -->
    <!--     <a class="green link pv2 ph3 br3 " href="{{.URL}}"> -->
    <!--         <h2> -->
    <!--             {{ .Name }} -->
    <!--         </h2> -->
    <!--     </a> -->
    <!-- </article> -->
    <!-- {{ end }} -->
</main>

{{ partial "footer.html" . }}
