    <footer class="tc center bt b--near-white pvx phm pax-m phxl-l pvx-l">
      <small class="f5 mw7 db center phm lh-copy">
        <nav>
          <ul class="list pln">
            <li class="dib prm"><a href="https://www.github.com"><span class="js-geomicon geomicon blue" data-icon="github"></span></a></li>
            <li class="dib prm"><a href="https://www.twitter.com"><span class="js-geomicon geomicon blue" data-icon="twitter"></span></a></li>
          </ul>
        </nav>
        Copyright-2017
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </small>
    </footer>
  </body>
</html>
