<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css" /> -->
  <link rel="stylesheet" href="/css/tachyons.css" />
  <title>{{ if (not .IsHome ) }}{{.Title}} - {{end}}{{ $.Site.Title }}</title>
</head>

<body class="avenir flex flex-column">
  <header style="background-image: url(/happy-women.jpg)"class="white cover bg-center flex justify-center h7">
    <div  class="bg-green w-100 w-auto-ns o-90 flex flex-column tl-ns items-center ph4">
      <div class="thin link-child mt4">
        <a class="white link flex flex-column items-center" href="/">
          <img class="w3 pb3" src="/stork.svg" />
          <h1 class="mt2 mb0 tc">{{ $.Site.Title }}</h1>
        </a>
      </div>
      <nav class="flex justify-center">
        <nav class="sidebar-nav">
        <ul class="f4 list flex flex-column flex-row-ns pa0 items-center ph4 border-box">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="ma3 pa2
            br3
            {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            bg-white green
            {{else}}
            white hover-bg-white hover-green
            {{end}}
            "><a class="color-inherit link pv2 ph3" href="{{.URL}}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        </nav>
      </nav>
    </div>
  </header>
